:root {
	--logo: #e5c723;
    --main-bg-color: #FFFFFF;
	--sde-bg-color: #1b5bb4;
	--text-color: #2a2a2a;
	--text-title: #1b5bb4;
	--strong-color: #000;
	--code-color: #0024a9;
	--text-warning: #c53e3e;
	--success-bg: #39af3f;
}

* {
    font-family: 'Roboto', sans-serif;
}

strong em {
    color: var(--text-title);
    letter-spacing: 3px;
    font-size: 23px;
}

body {
    /*background: var(--sde-bg-color);*/
    background: -webkit-linear-gradient(left top, var(--main-bg-color), var(--main-bg-color));
    background: -moz-linear-gradient(bottom right, var(--main-bg-color), var(--main-bg-color));
    background: linear-gradient(to bottom right, var(--main-bg-color), var(--main-bg-color));
    background-attachment: fixed;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 450;
    line-height: 140%;
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
}
a {
    color: var(--text-title);
    font-weight: bold;
}

/*p {*/
/*    text-shadow: 1px 1px 7px var(--main-bg-color);*/
/*}*/

/*li {*/
/*    text-shadow: 1px 1px 7px var(--main-bg-color);*/
/*}*/

h1 {
    font-size: 24px;
    background: #FFF;
    color: var(--sde-bg-color);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--sde-bg-color);
    margin-top: 50px;
}

h2 {
    color: var(--main-bg-color);
    letter-spacing: 2px;
    font-size: 17px;
    background: var(--sde-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    padding: 10px;
}
h3 {
    color: var(--text-color);
    font-size: 15px;
    background: var(--logo);
    border: 1px solid var(--text-title);
    border-radius: 15px;
    padding: 10px;
}

#footer {
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
.btn {
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    color: var(--main-bg-color);
    background-color: var(--sde-bg-color);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid var(--sde-bg-color);
    box-shadow: 3px 3px 12px var(--text-color);
    -webkit-box-shadow: 3px 3px 12px var(--text-color);
    -moz-box-shadow: 3px 3px 12px var(--text-color);
    cursor: pointer;
}

.btn_sandbox {
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    color: var(--text-title);
    background-color: var(--sde-bg-color);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid var(--sde-bg-color);
    box-shadow: 3px 3px 12px var(--text-color);
    -webkit-box-shadow: 3px 3px 12px var(--text-color);
    -moz-box-shadow: 3px 3px 12px var(--text-color);
    cursor: pointer;
}

#consent_select {
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    font-weight: bolder;
    height: 53px;
    color: var(--text-title);
    background-color: var(--sde-bg-color);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid var(--sde-bg-color);
    box-shadow: 3px 3px 12px var(--text-color);
    -webkit-box-shadow: 3px 3px 12px var(--text-color);
    -moz-box-shadow: 3px 3px 12px var(--text-color);
    cursor: pointer;
}

code {
    display: inline-block;
    white-space: pre-wrap !important;
    color: var(--code-color);
    background: #FFF;
    border: 1px solid;
    border-left: 10px solid;
    padding: 10px;
    width: 99%;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url('/static/paste.png');
    background-repeat: no-repeat;
    background-position-x: 99.5%;
    background-size: 24px;
}

#logo_enedis {
    border-radius: 10px;
    padding: 10px
}
#header {
    height: 140px;
}

#paypal {
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 3px var(--sde-bg-color) solid;
    width: 98%;
    color: var(--sde-bg-color);
}
#paypal_img {
    width: 170px;
    background: var(--main-bg-color);
    border-radius: 14px;
    padding: 5px 12px 5px 12px;
}



blockquote {
  background: var(--main-bg-color);
  border: 3px var(--text-warning) solid;
  border-left: 10px var(--text-warning) solid;
  padding: 5px 12px 5px 12px;
  color: var(--text-warning);
}

#stat {
    text-align: right;
    width: 215px;
    padding: 10px;
    background: var(--main-bg-color);;
    border-radius: 0 0 0 10px;
    color: var(--sde-bg-color);
    border: 1px solid var(--sde-bg-color);
    top: 0px;
    position: absolute;
    right: 0px;
}

.input_doc {
    border: 3px solid var(--sde-bg-color);
    border-radius: 10px;
    font-weight: bolder;
    height: 23px;
    padding: 8px;
    text-align: center;
}

#text_input {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding-right: 7px;
}


#token {
    border: 3px solid var(--sde-bg-color);
    border-radius: 10px;
    font-weight: bolder;
    height: 23px;
    padding: 8px;
    text-align: left;
}

#menu_link img {
    background: var(--main-bg-color);
    border-radius: 15px;
    padding: 4px;
}

select{
    padding: 3px;
    border-radius: 15px;
    border: 1px solid var(--code-color);
    font-weight: bold;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

#dataTableConsommation {
    padding: 10px;
}
#dataTableProduction {
    padding: 10px;
}

table .title {
    font-weight: bolder;
    /*text-align: center;*/
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}

table td {
    border: 1px solid var(--code-color);
}

.icon_success {
    background-color: var(--success-bg);
    background-size: auto;
    mask: url(/static/success.svg) no-repeat center;
    mask-size: contain;
    -webkit-mask: url(/static/success.svg) no-repeat center;
    -webkit-mask-size: contain;
    background-repeat: no-repeat no-repeat;
    height: 30px;
}

.icon_failed {
    background-color: var(--text-warning);
    background-size: auto;
    mask: url(/static/failed.svg) no-repeat center;
    mask-size: contain;
    -webkit-mask: url(/static/failed.svg) no-repeat center;
    -webkit-mask-size: contain;
    background-repeat: no-repeat no-repeat;
    height: 30px;
}

.recap_wrap {
    float: left;
    position: relative;
    left: 50%;
}

.recap_content {
    float: left;
    position: relative;
    left: -50%;
    text-align: center;
    width: 200px;
    height: 50px;
}

.recap_main {
    height: 4em;
}

.recap_years_title {
    font-weight: bolder;
    color: var(--text-title);
}

.recap_years_value {
    color: var(--text-color);
}

.recap_years_percent {
    color: var(--text-color);
}

.table_recap {
    width: 100%;
    border-collapse: collapse;
}

.table_recap_header{
    text-align: center;
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
    padding: 10px;
    border: 1px solid var(--sde-bg-color);
    width: 150px;
}

.table_recap_data{
    text-align: center;
    padding: 10px;
}

.green {
    color: var(--success-bg);
}
.red {
    color: var(--text-warning);
}
.blue {
    color: var(--sde-bg-color);
}

.datatable_button {
    background-color: var(--text-warning);
    color: var(--main-bg-color);
    border: 2px solid var(--text-warning);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}
.datatable_blacklist {
    background-color: var(--text-color);
    color: var(--main-bg-color);
    border: 2px solid var(--text-color);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}
.datatable_whitelist {
    background-color: var(--success-bg);
    color: var(--main-bg-color);
    border: 2px solid var(--success-bg);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}
.datatable_button_import {
    background-color: var(--success-bg);
    color: var(--main-bg-color);
    border: 2px solid var(--success-bg);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}
.datatable_button_disable {
    background-color: white;
    color: gray;
    border: 2px solid var(--sde-bg-color);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: auto;
}
.datatable_button:hover {
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}
.datatable_blacklist:hover {
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}
.datatable_unblacklist:hover {
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}
.datatable_button_import:hover {
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}
.datatable_button_disable:hover {
    background-color: white;
    color: gray;
    border: 2px solid var(--sde-bg-color);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: auto;
}
.datatable_button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.datatable_blacklist:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.datatable_unblacklist:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.datatable_button_import:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.datatable_button_disable:active {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.loading_bg {
    background: url('/static/loading.gif') no-repeat center;
}