<!DOCTYPE html>
<html>
<head>
    <title>MyElectricalData</title>
    {{ head }}
    <style>
    {{ css }}
    </style>
    <script>
        $(document).ready(function () {
            function retry() {
                setTimeout(function () {
                        ajaxCall()
                }, 5000);
            }
            function ajaxCall() {
                $.ajax({
                    url: "/import_status",
                    type: 'GET',
                }).done(function (data, textStatus, jqXHR) {
                    const html = jqXHR.responseText
                    if (html === "True") {
                        $.LoadingOverlay("show", loading_import);
                        retry()
                    }else{
                        $.LoadingOverlay("hide", loading_import);
                        retry()
                    }
                });
            }
            ajaxCall()
            retry()
            {{ javascript }}
        });
    </script>
</head>
<body style="margin: 0px">
{{ configuration }}
{{ side_menu }}
<div id="content" style="padding: 0 95px 0 95px">
    <div id="header">
        <div id="header_logo" style="float: left;">
            <div id="logo" onClick="parent.location='/'">&nbsp;</div>
        </div>
    </div>
    <div id="stat" style="float: right">
        <div style="text-align: center"><img src="/static/img/loading.gif"></div>
    </div>
    <div id="body" style="padding-bottom: 100px;">
        {{ select_usage_points }}
        {{ body }}
    </div>
</div>
{{ menu }}
</body>
</html>