/.idea
/.env
/data/*
/tmp
/data/config.yaml
/mosquitto
/data

/__pycache__/
/app/alembic/__pycache__/
/app/alembic/versions/__pycache__/
/app/__pycache__/
/app/templates/__pycache__/
/app/templates/models/__pycache__/
/app/models/__pycache__/
