:root {
    --logo: #F1C40F;
    --main-bg-color: #FFFFFF;
    --sde-bg-color: #3498DB;
    --text-color: #2C3E50;
    --text-title: #3498DB;
    --strong-color: #000;
    --code-color: #2980B9;
    --text-warning: #C0392B;
    --success-bg: #2ECC71;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--sde-bg-color);
    border-radius: 15px;
    border: 5px solid var(--main-bg-color);
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
    background: var(--main-bg-color);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-bg-color);
    cursor: pointer;
}

strong em {
    color: var(--text-title);
    letter-spacing: 3px;
    font-size: 23px;
}

body {
    /*background: var(--sde-bg-color);*/
    background: -webkit-linear-gradient(left top, var(--main-bg-color), var(--main-bg-color));
    background: -moz-linear-gradient(bottom right, var(--main-bg-color), var(--main-bg-color));
    background: linear-gradient(to bottom right, var(--main-bg-color), var(--main-bg-color));
    background-attachment: fixed;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 450;
    line-height: 140%;
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
}

a {
    color: var(--text-title);
    font-weight: bold;
}

h1 {
    font-size: 24px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    color: var(--main-bg-color);
    background: var(--sde-bg-color);
    border: 1px solid var(--main-bg-color);
}

h2 {
    color: var(--text-color);
    font-size: 17px;
    background: var(--logo);
    border: 1px solid var(--text-title);
    border-radius: 15px;
    padding: 10px;
}

h3 {
    letter-spacing: 2px;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    background: #FFF;
    color: var(--sde-bg-color);
    border: 1px solid var(--sde-bg-color);
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    transform: translate(0, 0%);
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.btn {
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    color: var(--main-bg-color);
    background-color: var(--sde-bg-color);
    /* border-radius: 24px; */
    /* -webkit-border-radius: 24px; */
    -moz-border-radius: 24px;
    /* border: 4px solid var(--sde-bg-color); */
    box-shadow: 3px 3px 12px var(--text-color);
    -webkit-box-shadow: 3px 3px 12px var(--text-color);
    -moz-box-shadow: 3px 3px 12px var(--text-color);
    cursor: pointer;
    width: 100%;
}

/*#footer {*/
/*    position: fixed;*/
/*    left: 50%;*/
/*    bottom: 0px;*/
/*    transform: translate(-50%, -25%);*/
/*    margin: 0 auto;*/
/*    width: 500px;*/
/*    text-align: center;*/
/*}*/
/*.btn {*/
/*    text-decoration: none;*/
/*    padding: 10px;*/
/*    font-size: 1em;*/
/*    color: var(--main-bg-color);*/
/*    background-color: var(--sde-bg-color);*/
/*    border-radius: 24px;*/
/*    -webkit-border-radius: 24px;*/
/*    -moz-border-radius: 24px;*/
/*    border: 4px solid var(--sde-bg-color);*/
/*    box-shadow: 3px 3px 12px var(--text-color);*/
/*    -webkit-box-shadow: 3px 3px 12px var(--text-color);*/
/*    -moz-box-shadow: 3px 3px 12px var(--text-color);*/
/*    cursor: pointer;*/
/*}*/

.btn_sandbox {
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    color: var(--text-title);
    background-color: var(--sde-bg-color);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid var(--sde-bg-color);
    box-shadow: 3px 3px 12px var(--text-color);
    -webkit-box-shadow: 3px 3px 12px var(--text-color);
    -moz-box-shadow: 3px 3px 12px var(--text-color);
    cursor: pointer;
}

#consent_select {
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    font-weight: bolder;
    height: 53px;
    color: var(--text-title);
    background-color: var(--sde-bg-color);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid var(--sde-bg-color);
    box-shadow: 3px 3px 12px var(--text-color);
    -webkit-box-shadow: 3px 3px 12px var(--text-color);
    -moz-box-shadow: 3px 3px 12px var(--text-color);
    cursor: pointer;
}

code {
    display: inline-block;
    white-space: pre-wrap !important;
    color: var(--code-color);
    background: #FFF;
    border: 1px solid;
    border-left: 10px solid;
    padding: 10px;
    width: 99%;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url('/static/img/paste.png');
    background-repeat: no-repeat;
    background-position-x: 99.5%;
    background-size: 24px;
}

#logo_enedis {
    border-radius: 10px;
    padding: 10px
}

#header {
    height: 140px;
}

#paypal {
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 3px var(--sde-bg-color) solid;
    width: 98%;
    color: var(--sde-bg-color);
}

#paypal_form {
    height: 55px;
}
#paypal_img {
    width: 170px;
    background: var(--main-bg-color);
    border-radius: 14px;
    padding: 5px 12px 5px 12px;
}


blockquote {
    background: var(--main-bg-color);
    border: 3px var(--text-warning) solid;
    border-left: 10px var(--text-warning) solid;
    padding: 5px 12px 5px 12px;
    color: var(--text-warning);
}

#stat {
    text-align: right;
    width: 215px;
    padding: 10px;
    background: var(--main-bg-color);;
    border-radius: 0 0 0 10px;
    color: var(--sde-bg-color);
    border: 1px solid var(--sde-bg-color);
    top: 0px;
    position: absolute;
    right: 0px;
}

.input_doc {
    border: 3px solid var(--sde-bg-color);
    border-radius: 10px;
    font-weight: bolder;
    height: 23px;
    padding: 8px;
    text-align: center;
}

#text_input {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding-right: 7px;
}


#token {
    border: 3px solid var(--sde-bg-color);
    border-radius: 10px;
    font-weight: bolder;
    height: 23px;
    padding: 8px;
    text-align: left;
}

#menu_link img {
    background: var(--main-bg-color);
    border-radius: 15px;
    padding: 4px;
}

select {
    padding: 3px;
    font-weight: bolder;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid var(--sde-bg-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

select option {
  /*margin: 40px;*/
  /*background: rgba(0, 0, 0, 0.3);*/
  /*color: #fff;*/
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);*/
    border-radius: 0px;
    padding: 3px;
    font-weight: bolder;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid var(--sde-bg-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.table_configuration input {
    padding: 3px;
    font-weight: normal;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid var(--sde-bg-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.table_configuration input[type=text]:focus {
  border: 3px solid #555;
}


.table_configuration .key {
    /*padding: 3px;*/
    /*font-weight: bold;*/
    /*width: 60%;*/
    /*border-collapse: collapse;*/
    font-size: 16px;
    text-align: left;
}

.table_configuration .value {
    padding: 3px;
    font-weight: bold;
    width: 60%;
    border-collapse: collapse;
}

.table_configuration .value select {
    padding: 3px;
    font-weight: normal;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid var(--sde-bg-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 16px;
}

.table_configuration .value input {
    font-size: 16px;
}

.btn-blue {
    padding: 6px;
    font-weight: bold;
    border: 3px solid var(--sde-bg-color);
    background: var(--main-bg-color);
    color: var(--sde-bg-color);
}
.btn-blue:hover {
    padding: 6px;
    font-weight: bold;
    border: 3px solid var(--sde-bg-color);
    color: var(--text-color);
    background: var(--main-bg-color);
}

#dataTableConsommation {
    padding: 10px;
}

#dataTableProduction {
    padding: 10px;
}

table .title {
    font-weight: bolder;
    /*text-align: center;*/
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}

table td {
    border: 1px solid var(--code-color);
}

.icon_success {
    background-color: var(--success-bg);
    background-size: auto;
    mask: url("/static/img/success.svg") no-repeat center;
    mask-size: contain;
    -webkit-mask: url("/static/img/success.svg") no-repeat center;
    -webkit-mask-size: contain;
    background-repeat: no-repeat no-repeat;
    height: 30px;
}

.icon_failed {
    background-color: var(--text-warning);
    background-size: auto;
    mask: url("/static/img/failed.svg") no-repeat center;
    mask-size: contain;
    -webkit-mask: url("/static/img/failed.svg") no-repeat center;
    -webkit-mask-size: contain;
    background-repeat: no-repeat no-repeat;
    height: 30px;
}

.recap_wrap {
    float: left;
    position: relative;
    left: 50%;
}

.recap_content {
    float: left;
    position: relative;
    left: -50%;
    text-align: center;
    width: 200px;
    height: 50px;
}

.recap_main {
    height: 4em;
}

.recap_years_title {
    font-weight: bolder;
    color: var(--text-title);
}

.recap_years_value {
    color: var(--text-color);
}

.recap_years_percent {
    color: var(--text-color);
}

.table_recap {
    width: 100%;
    border-collapse: collapse;
}

.table_recap_header {
    text-align: center;
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
    padding: 10px;
    border: 1px solid var(--sde-bg-color);
    width: 150px;
}

.table_recap_data {
    text-align: center;
    padding: 10px;
}

.green {
    color: var(--success-bg);
}

.red {
    color: var(--text-warning);
}

.blue {
    color: var(--sde-bg-color);
}

.datatable_button input[type="button"] {
    background-color: var(--text-warning);
    color: var(--main-bg-color);
    border: 2px solid var(--text-warning);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.datatable_blacklist input[type="button"] {
    background-color: var(--text-color);
    color: var(--main-bg-color);
    border: 2px solid var(--text-color);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.datatable_whitelist input[type="button"] {
    background-color: var(--success-bg);
    color: var(--main-bg-color);
    border: 2px solid var(--success-bg);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.datatable_button_import input[type="button"] {
    background-color: var(--success-bg);
    color: var(--main-bg-color);
    border: 2px solid var(--success-bg);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.datatable_button_disable input[type="button"] {
    background-color: white;
    color: gray;
    border: 2px solid var(--sde-bg-color);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: auto;
}

.datatable_button:hover input[type="button"] {
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}

.datatable_blacklist:hover input[type="button"] {
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}

.datatable_unblacklist:hover input[type="button"] {
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}

.datatable_button_import:hover input[type="button"] {
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}

.datatable_button_disable:hover input[type="button"] {
    background-color: white;
    color: gray;
    border: 2px solid var(--sde-bg-color);
    border-radius: 15px;
    width: 125px;
    height: 30px;
    font-weight: bolder;
    cursor: auto;
}

.datatable_button:active input[type="button"] {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.datatable_blacklist:active input[type="button"] {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.datatable_unblacklist:active input[type="button"] {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.datatable_button_import:active input[type="button"] {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.datatable_button_disable:active input[type="button"] {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.loading_bg {
    background: url('/static/img/loading.gif') no-repeat center;
}

#menu {
    background-color: var(--sde-bg-color);
}


#stat {
    text-align: right;
    width: 350px;
    padding: 2px;
    background: var(--main-bg-color);;
    border-radius: 0 0 0 10px;
    color: var(--sde-bg-color);
    border: 1px solid var(--sde-bg-color);
    top: 0px;
    position: absolute;
    right: 0px;
}

.stat_table {
    border-collapse: collapse;
    border: none;
}

.stat_key {
    border: none;
    color: var(--text-title);
    text-align: right;
    font-weight: bolder;
    width: 320px;
    padding-right: 5px;
}

.stat_value {
    border: none;
    color: var(--text-title);
    text-align: center;
    font-weight: bolder;
}

.stat_value_warning {
    border: none;
    color: var(--text-warning);
    text-align: center;
    font-weight: bolder;
}

.table_hchp {
    width: 100%;
    border-collapse: collapse;
}

.table_hp_hc_recap {
    border-collapse: collapse;
    text-align: center;
    border: none;
}

.table_configuration {
    width: 100%;
    border-collapse: collapse;
}

.table_configuration td {
    border: none;
}

.table_configuration h2 {
    color: var(--main-bg-color);
    letter-spacing: 2px;
    font-size: 17px;
    background: var(--sde-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 10px;
    padding: 3px 0px 3px 20px;
}


.fixed-dialog {
    position: fixed;
    top: 50px;
    left: 50px;
    overflow-y: auto;
}

.ui-dialog-titlebar {
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
}

.ui-dialog .ui-dialog-buttonpane {
    background: var(--sde-bg-color);
    margin-top: unset;
}

.help {
    cursor: pointer;
}

 div#pop-up {
   display: none;
   position: absolute;
   width: 10px;
   padding: 10px;
   background: #eeeeee;
   color: #000000;
   border: 1px solid #1a1a1a;
   font-size: 90%;
 }

.error {
  color: red;
  /*background-color: #acf;*/
}

.dataTables_wrapper .dataTables_length {
    white-space: nowrap;
}

.table_offpeak_hours {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table_offpeak_hours th {
    background: var(--sde-bg-color);
    color: var(--main-bg-color);
    border: 1px solid var(--sde-bg-color);
    text-align: center;
    border-collapse: collapse;
}