aiohttp==3.9.5 ; python_full_version == "3.12.3"
aiosignal==1.3.1 ; python_full_version == "3.12.3"
alembic==1.13.2 ; python_full_version == "3.12.3"
anyio==3.7.1 ; python_full_version == "3.12.3"
art==6.2 ; python_full_version == "3.12.3"
asgiref==3.8.1 ; python_full_version == "3.12.3"
asyncio==3.4.3 ; python_full_version == "3.12.3"
attrs==23.2.0 ; python_full_version == "3.12.3"
certifi==2024.7.4 ; python_full_version == "3.12.3"
charset-normalizer==3.3.2 ; python_full_version == "3.12.3"
click==8.1.7 ; python_full_version == "3.12.3"
colorama==0.4.6 ; python_full_version == "3.12.3" and (sys_platform == "win32" or platform_system == "Windows")
deepdiff==7.0.1 ; python_full_version == "3.12.3"
deprecated==1.2.14 ; python_full_version == "3.12.3"
dnspython==2.6.1 ; python_full_version == "3.12.3"
email-validator==2.2.0 ; python_full_version == "3.12.3"
fastapi-cli==0.0.4 ; python_full_version == "3.12.3"
fastapi-utils==0.2.1 ; python_full_version == "3.12.3"
fastapi==0.111.1 ; python_full_version == "3.12.3"
frozenlist==1.4.1 ; python_full_version == "3.12.3"
googleapis-common-protos==1.63.2 ; python_full_version == "3.12.3"
greenlet==3.0.3 ; python_full_version == "3.12.3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio==1.64.1 ; python_full_version == "3.12.3"
h11==0.14.0 ; python_full_version == "3.12.3"
httpcore==1.0.5 ; python_full_version == "3.12.3"
httptools==0.6.1 ; python_full_version == "3.12.3"
httpx==0.27.0 ; python_full_version == "3.12.3"
idna==3.7 ; python_full_version == "3.12.3"
importlib-metadata==7.1.0 ; python_full_version == "3.12.3"
influxdb-client==1.44.0 ; python_full_version == "3.12.3"
jinja2==3.1.4 ; python_full_version == "3.12.3"
mako==1.3.5 ; python_full_version == "3.12.3"
markdown-it-py==3.0.0 ; python_full_version == "3.12.3"
markdown==3.6 ; python_full_version == "3.12.3"
markupsafe==2.1.5 ; python_full_version == "3.12.3"
mdurl==0.1.2 ; python_full_version == "3.12.3"
mergedeep==1.3.4 ; python_full_version == "3.12.3"
multidict==6.0.5 ; python_full_version == "3.12.3"
opentelemetry-api==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-distro==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-common==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-grpc==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-http==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-asgi==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-fastapi==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-requests==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-sqlalchemy==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-proto==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-sdk==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-semantic-conventions==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-util-http==0.46b0 ; python_full_version == "3.12.3"
ordered-set==4.1.0 ; python_full_version == "3.12.3"
packaging==24.1 ; python_full_version == "3.12.3"
paho-mqtt==1.6.1 ; python_full_version == "3.12.3"
protobuf==4.25.3 ; python_full_version == "3.12.3"
psycopg2-binary==2.9.9 ; python_full_version == "3.12.3"
pydantic==1.10.17 ; python_full_version == "3.12.3"
pygments==2.18.0 ; python_full_version == "3.12.3"
pymysql==1.1.1 ; python_full_version == "3.12.3"
pypdf==3.17.4 ; python_full_version == "3.12.3"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.3"
python-dotenv==1.0.1 ; python_full_version == "3.12.3"
python-multipart==0.0.7 ; python_full_version == "3.12.3"
pytz==2023.4 ; python_full_version == "3.12.3"
pyyaml==6.0.1 ; python_full_version == "3.12.3"
rauth==0.7.3 ; python_full_version == "3.12.3"
reactivex==4.0.4 ; python_full_version == "3.12.3"
requests==2.32.3 ; python_full_version == "3.12.3"
rich==13.7.1 ; python_full_version == "3.12.3"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_full_version == "3.12.3"
ruamel-yaml==0.18.6 ; python_full_version == "3.12.3"
setuptools==71.1.0 ; python_full_version == "3.12.3"
shellingham==1.5.4 ; python_full_version == "3.12.3"
six==1.16.0 ; python_full_version == "3.12.3"
sniffio==1.3.1 ; python_full_version == "3.12.3"
sqlalchemy==1.4.52 ; python_full_version == "3.12.3"
starlette==0.37.2 ; python_full_version == "3.12.3"
typer==0.12.3 ; python_full_version == "3.12.3"
typing-extensions==4.12.2 ; python_full_version == "3.12.3"
unidecode==1.3.8 ; python_full_version == "3.12.3"
urllib3==2.2.2 ; python_full_version == "3.12.3"
uvicorn==0.25.0 ; python_full_version == "3.12.3"
uvicorn[standard]==0.25.0 ; python_full_version == "3.12.3"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_full_version == "3.12.3"
waitress==2.1.2 ; python_full_version == "3.12.3"
watchfiles==0.22.0 ; python_full_version == "3.12.3"
websocket-client==1.8.0 ; python_full_version == "3.12.3"
websockets==12.0 ; python_full_version == "3.12.3"
wrapt==1.16.0 ; python_full_version == "3.12.3"
yarl==1.9.4 ; python_full_version == "3.12.3"
zipp==3.19.2 ; python_full_version == "3.12.3"
