name: "Run Pytests"

on:
  # Run workflow automatically whenever the workflow, app or tests are updated
#  push:
#    paths:
#      - .github/workflows/pytest.yaml                    # Assuming this file is stored in .github/workflows/pytest.yaml
#      - src/**
#      - tests/**
  pull_request:
    branches:
      - main

jobs:
  pytest:
    name: Run pytests
    runs-on: ubuntu-latest
    steps:
      - run: echo 1
      # - name: generate FR locale
      #   run: sudo locale-gen fr_FR.UTF-8
      # - uses: actions/checkout@v4
      # - name: Set up Python
      #   uses: actions/setup-python@v4
      #   with:
      #     python-version: '3.12'
      #     cache: 'pip'
      # - name: Lint with Ruff                             # Running an optional linter step
      #   run: |
      #     pip install ruff
      #     ruff --output-format=github src/
      #   continue-on-error: true
      # - name: Install application dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r src/requirements.txt
      # - name: Test with pytest
      #   run: |
      #     pip install pytest pytest-cov pytest-mock requests-mock
      #     pytest --cov=src/ --cov-report=xml
      # - name: Upload coverage reports to Codecov         # Optional: Run codecov. Requires: secrets.CODECOV_TOKEN
      #   uses: codecov/codecov-action@v3
      #   env:
      #     CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      #   continue-on-error: true
